tabbar tabbox {
    margin: 4px 2px 4px 0px;
    padding: 3px 0px 3px 0px;
    min-height: 10px;
    font-family: "JetBrainsMono Nerd Font Mono";
}

tabbar tabbox tab:selected {
    font-weight: bold;
}

tabbar tabbox tab label {
    font-size: 13px;
}
